.navbar{
    background-color: cornflowerblue;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin: 2px 200px;
    align-items: center;

}
.menu{
    display: flex;
    gap: 10px;
    list-style: none;
}
nav{
    position: relative;
    position: sticky;
    top: 0;
}